:root {
  --color-primary: #E02241;
  --color-urgent: #FF0000;
  --color-default: #01017e;
  --color-grey: #999999;
  --font-family: Arial, Helvetica, sans-serif;
}

.App-header {
  display: flex;
  align-items: center;
  border-bottom: .2rem solid var(--color-primary);
}

.App-header .logo {
  width: 200px;
  height: 200px;
}

.App-header h1 {
  color: var(--color-primary);
}
