:root {
  --color-primary: #E02241;
  --color-urgent: #FF0000;
  --color-default: #01017e;
  --color-grey: #999999;
  --font-family: Arial, Helvetica, sans-serif;
}

.bodySectionWithMargin {
  margin-bottom: 40px;
}
