:root {
  --color-primary: #E02241;
  --color-urgent: #FF0000;
  --color-default: #01017e;
  --color-grey: #999999;
  --font-family: Arial, Helvetica, sans-serif;
}

.Login {
  padding: 4rem 2rem;
}

.Login-form label,
.Login-form input {
  margin: 0 10px;
}
