:root {
  --color-primary: #E02241;
  --color-urgent: #FF0000;
  --color-default: #020267;
  --font-family: Arial, Helvetica, sans-serif;

}

.Notifications {
  border: .1px dashed var(--color-primary);
}

.Notifications p {
  margin: 2rem 0;
}

.Notifications ul li:first-child {
  color: var(--color-default);
}

.Notifications ul li:nth-child(n+2) {
  color: var(--color-urgent);
}
